body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: row;
}

#mocha {
  position: relative;
  flex: 1;
  margin: 0 !important;
  padding-top: 50px;
  padding-right: 10px;
  overflow: auto;
  border-right: 1px solid #ccc;
}

#mocha-stats {
  position: absolute !important;
}

iframe {
  flex: 2;
}
